<?xml version="1.0" encoding="UTF-8" ?>
<Config>
	<musicvolume>75</musicvolume>
	<controllervibration>0</controllervibration>
	<Language>EN</Language>
  <![CDATA[Dit is een testje voor CDATA @&$^$@(<><Language>EN</Language> < /><":":{[}:}]: 986768_-+=~## ]]>
	<User.Latest>System</User.Latest>
	<graphicsquality>High</graphicsquality>
</Config>
